@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
}
a, button{
    transition: all .3s ease-in-out;
}

body {
    /* font: 400 22px 'Poppins', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #444;
    line-height: 1.6;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.box{
    /* outline: 1px solid orange; */
    padding: 90px 0;
}

.box--padinng-lg{
    padding: 140px 0;
}

.box--bg-pink{
    background-color: #ffe9eb;
}

.box--bg-grey{
    background-color: #eeeeee;
}

.box--bg-gradient{
    background-image: linear-gradient(to bottom, #333339 50%, #fe00cc 100%);
}

a{
    text-decoration: none;
}
h1, h2 {
  font-size: 60px;  
  font-weight: 700;
}

h3 {
    font-size: 36px;  
  }
  
h4 {
    font-size: 30px;  
  }
h5 {
    font-size: 24px ;  
  }
header{
      color: #FFF;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
  }
header a{
    color: inherit;
}

.logo{
    font-weight: 700;
    font-size: 34px;
}
.logo:hover,
.logo:focus,
.logo:active {
    color: #e71cb4;
}
nav ul{
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 25px;
}

nav ul li a{
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    color:#e71cb4;
    border-color: #e71cb4;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero{
    min-height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/ezra-comeau-jeffrey-77199-unsplash.jpg);
}

.hero_text{
    font-size: 30px;
    margin: 70px;
}
.hero_title{
    margin-bottom: 30px;
}

.btn{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #e71cb4;
    border: 2px solid #e71cb4;
    border-radius: 5px;
    padding: 15px 45px;
    display: inline-block;
}

.btn--lg{
    font-size: 22px;
    padding: 25px 80px;
}
.btn:hover,
.btn:focus,
.btn:active{
color:#e71cb4;
background-color: #fff;
}
.btn--trans{
    background-color: transparent;
    border-color: #fff;
}
.btn--trans:hover,
.btn--trans:focus,
.btn--trans:active{
    color:#444;
}
.text-purpul{
    
    color:purple;
}
.text-yellow{
    color: #ffde16;
}
.text-salmen{
    color: #ffbd9e;
}
.text-blue{
    color: #20c9e0;
}
.text-lg{
    font-size: 32px;
}

.course{
    padding: 25px 0;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    column-count: 2;
    column-gap: 30px;
}

.course li{
    display: flex;
    padding: 25px 0;
}

.course__index{
    font-size: 44px;
    font-weight: 700;
    display: inline-block;
    margin: 0 25px;
    line-height: 1.2;
}